*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
}
header{
    width: 100%;
}
header hq{
    font-size: 3em;
    text-align: center;
}
/* font-size: 3em; 16 -> 16 * 3 */
#menus{
    width: 100%;
}
#menus > div{
    position: relative;
    height: 400px;
    border: 1px solid #000;
    margin-bottom: 15px;

}
#menu1, #menu2, #menu3, #menu4, #menu5{
    width: 100%;
}
#menu h2{
    position: absolute;
    padding: 5px;
    font-size: 2em;
    color: white;
    text-shadow: 3px 3px 5px #000;
    right: 3%;
    bottom: 10px;
}
#menu1{
    background-image: url(../images/dish1.jpg);
    background-size: cover;
}
#menu2{
    background-image: url(../images/dish2.jpg);
    background-size: cover;
}
#menu3{
    background-image: url(../images/dish3.jpg);
    background-size: cover;
}
#menu4{
    background-image: url(../images/dish4.jpg);
    background-size: cover;
}
#menu5{
    background-image: url(../images/dish5.jpg);
    background-size: cover;
}
footer{
    width: 100%;
    background-color: #373737;
    height: 200px;
}
footer p{
    font-size: 1.2em;
    color: #eee;
    text-align: center;
    line-height: 200px;
}

@media screen and (min-width: 768px){
    #menus{
        display: flex;
        flex-wrap: wrap;
        /* 여러줄에 걸쳐서 표시 */
        justify-content: space-between;
        /* 화면 양쪽에 바짝 붙이기 */
    }
    #menu1, #menu2, #menu3, #menu4{
        width: 49%;
    }
    #menu5{
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    #menu1, #menu2, #menu3, #menu4, #menu5{
        width: 33%;
    }
    #menu5{
        margin-left: 0.5%;
        flex : 2 2 0;
    }
}