*{
    margin: 0;
    padding: 0;
}
.section1{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    border: 1px solid #000000;
}
.section1 ul{
    list-style: none;
    /* overflow: hidden;li가 float되면
     부모의 ul높이가 없어짐 */
}
.section1 ul li{
    float: left;
    width: 300px;
    height: 200px;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 1px solid #000000;
    margin-right: 50px;
}
.section1 ul li:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.section1 ul li:last-child{
    margin-right: 0;
}
.section1 ul li div p.txt1{
    display: inline-block;
    /* 이미지는 대표적인 inline-block
    줄바뀜 없이 넓이 높이를 부여하려면 inilne-block */
    padding: 7px;
    color: #fff;
    background-color: #53a000;
}
.section1 ul li div h3{
    font-size: 16px;
    margin-top: 10px;
}
.section1 ul li div p.txt3{
    font-size: 15px;
    margin-top: 10px;
}
.section2{
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    padding: 30px 0;
    border: 1px solid #000000;
}
.section2 .left{
    float: left;
    width: 250px;
    height: 150px;
    padding: 30px 0;
    box-sizing: border-box;
    border: 1px solid #000000;
}
.section2 .right{
    width: 750px;
    height: 150px;
}
.section2 .right ul{
    list-style: none;
}
.section2 .right ul li{
    float: left;
    text-align: center;
    width: 93.7px;
    height: 110px;
}