*{
    margin:0;
    padding:0
}
#wrapper{
    width: 900px;
    margin: 0 auto;
}
header{
    height: 200px;
    background-color: #f46075;
}
header h1{
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    color: white;
}
header .logo_p{
    margin-right: 20px;
    margin-top: 20px;
    float: right;
}
nav{
    height:60px;
    background-color: #ccc;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}
nav ul li a{
    display: block;
    width:160px;
    height:40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    background-color: #f46075;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
}
.main{
    height:550px;
}
.main h2{
    text-align: center;
    padding: 10px;
}
section{
    width: 650px;
    height:550px;
    background-color: skyblue; 
    float: left;
}
section h2{
    padding: 10px 0; 
}
section article{
    width: 280px;
    height: 210px;
    border: 1px solid #333;
    float: left;
    margin: 0 0 15px 30px;
    font-size: 7;
    text-align: justify;
    background-color: #fff;
}
article h3{
    padding: 10px 0 10px 10px;
    
}
article p{
    padding: 0 10px;
    font-size: 13px;
    text-align: justify;
    /* 양쪽정렬 */
}
aside{
    width:250px;
    height:550px;
    background-color: #ffffcc;
    float: left;
    text-align: center;
}
aside h2{
    padding: 10px 0;    
}
aside img{
    padding-bottom: 10px;
}
footer{
    text-align: center;
    padding-top: 10px;
    height:50px;
    background-color: #333;
    color:#fff;
}



