*{
    margin: 0;
    padding: 0;
}
.bigbox{
    height: 500px;
    width: 500px;
    border: 2px dotted black;
    margin: 50px auto;
    position: relative;
}
.ear{
    width: 150px;
    height: 150px;
    border: 10px solid black;
    border-radius: 50%;
    background-color: #d59729;
    position: absolute;
    top: 20px;
}
.ear.left{
    left: 40px;
}
.ear.right{
    right: 40px;
}
.face{
    width: 500px;
    height: 450px;
    border: 10px solid black;
    background-color: #d59729;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;    
}
.eyebrow{
    width: 120px;
    height: 20px;
    border: 1px solid black;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 120px;
}
.eyebrow.left{
    left: 80px;
}
.eyebrow.right{
    right: 80px
}
.eyeball{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    
}
.eyeball.left{
    left: 140px;
}
.eyeball.right{
    right: 140px;
}
.nose{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 230px;
    left: 50%;    
    margin-left: -20px;
}
.mouth{
    width: 80px;
    height: 74px;
    border: 10px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 240px;
}
.mouth.left{
    left: 175px;
}
.mouth.right{
    right: 175px;
}
.mouth_corver{
    position: absolute;
    width: 37px;
    height: 40px;
    background-color: aqua;
    top: 20px;
}
.mouth_corver.left{
    left: 20px;
    transform: rotate(45deg);
}
.mouth_corver.right{
    right: 20px;
}
