*{margin: 0;padding: 0;}
body{font-size: 12px;font-family: Dotum;
color:#74767a;line-height: 120%;}
a{color:#74767a;text-decoration: none;}
ul{list-style: none;}
img{border:none;vertical-align: middle;}

#wrap{}
#brandVisual{
    position: relative;
    width: 100%;
    height: 500px;
    min-width: 1000px;
    background-color: #8c908c;
}
#brandVisual ul li{
    position: absolute;
    width: 100%;
    height: 500px;
}

#brandVisual .visual_0{
    left: 0;
    background: url(../img/0.png) no-repeat 50% 0;
}

#brandVisual .visual_1{
    left: 100%;
    background: url(../img/1.png) no-repeat 50% 0;
}

#brandVisual .visual_2{
    left: 200%;
    background: url(../img/2.png) no-repeat 50% 0;
}

#buttonList{
    position: absolute;
    top: 215px;
    left: 50%;
}

#buttonList li {
    width: 14px;
    height: 15px;
    float: left;
    margin: 0 5px;
    background: url(../img/btnVisual.png) no-repeat 0 -16px;
}

#buttonList li.on{
    /* 
        background: url(../img/btnVisual.png) no-repeat 0 0;
        재참조하는건 비효율적이라
    */
    background-position: 0 0;
}

#buttonList li a{
    display: block;
    text-indent: -9999px;
}